/* Common Style */

body {
    font-family: "Varela Round" , sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.title {
    width: 100%;
    text-align: left;
    padding: 100px 0 30px;
}

.head-title {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.underline-title {
    width: 50px;
    height: 5px;
    background-color: #6195ff;
    border-radius: 5px;
}

hr {
    height: 1px;
    background-color: #e8e8e8;
    border: none;
}

.title-right {
    width: 100%;
    text-align: left;
    padding: 35px 0;
}

.title-right > .head-title {
    text-transform: uppercase;
}

/* Header section */

.header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 50;
}

.logo {
    width: 40%;
    float: left;
}

.header .logo img {
    width: 120px;
}

.navbar {
    width: 60%;
    float: left;
    text-align: right;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: #222;
    display: block;
    padding: 24px 15px;
    font-size: 16px;
}

/* breadcrumb section */

.breadcrumb {
    background-color: #f5f5f5;
    position: relative;
    top: 80px;
    height: 150px;
}

.breadcrumb-content {
    text-transform: capitalize;
}

.breadcrumb-content .title {
    width: 50%;
    float: left;
    text-align: left;
    padding: 50px 0;
    font-size: 2.5rem;
}

.breadcrumb-list {
    width: 50%;
    float: left;
    padding: 10px 20px;
    text-align: right;
}

.breadcrumb-list li {
    display: inline-block;
    padding: 55px 0;
}

.breadcrumb-list li+li::before {
    content: "/";
    padding: 4px;
    color: black;
}

.breadcrumb-list li a:hover {
    opacity: 0.8;
    text-decoration: underline;
}

/* All Page */

.blog-bost {
    padding: 200px 0;
}

/* Left Page */

/* Image & Icons */

.blog-bost-left {
    width: 72%;
    float: left;
    margin-right: 30px;
}

.main-image {
    width: 100%;
}

.image-icon {
    margin: 20px 0;
}

.image-icon img {
    width: 15px;
    height: 15px;
    margin: 0 2px;
}

.image-icon span {
    text-transform: capitalize;
    margin-right: 10px;
}

/* Text */

.blog-bost-left-text > .blog-bost-title {
    margin-bottom: 15px;
}

.blog-bost-left-text > .desc {
    line-height: 1.5;
    color: #999;
    margin-bottom: 50px;
}

/* Tags */

.blog-bost-left-tags {
    text-transform: capitalize;
}

.blog-bost-left-tags > h3 {
    float: left;
    margin-right: 5px;
}

.tags-list {
    float: left;
}

.tags-list li {
    display: inline-block;
}

.tags-list li a {
    color: #000;
    background-color: #e8e8e8;
    display: block;
    position: relative;
    bottom: 10px;
    padding: 10px 10px 10px 30px;
    text-align: center;
}

.tags-list li a img {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 10px;
}

/* Define Wep Developer */

.developer {
    border: 1px dotted #e8e8e8;
    height: 265px;
    position: relative;
    top: 80px;
    margin-bottom: 50px;
}

.developer-image {
    position: absolute;
    left: 10px;
    top: 15px;
    width: 30%;
}

.developer-image img {
    width: 100%;
}

.define-developer {
    width: 70%;
    padding: 25px 5px 25px 50px;
    margin-left: auto;
}

.define-developer h2 {
    text-transform: capitalize;
    width: 47%;
    float: left;
    margin-bottom: 20px;
    text-align: left;
}

.define-developer > .icons {
    width: 45%;
    float: left;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 20px;
}

.define-developer > .icons a {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    background-color: #6195ff;
    margin-right: 10px;
}

.define-developer > .icons a img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.define-developer-prag hr {
    width: 90%;
    margin: 20px 0;
}

.define-developer-prag > .desc {
    color: #999;
    line-height: 1.5;
}

/* Comments */

.comments-contact {
    border: 2px solid #e8e8e8;
    padding: 20px 15px;
}

.comments-item {
    border: 1px dotted #e8e8e8;
    padding:15px 10px 15px 100px;
    position: relative;
}

.comments-item:active {
    border: 1px solid #6195ff;
}

.comments-item-img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 10%;
}

.comments-item-img img {
    width: 100%;
}

.comments-item-content {
    text-transform: uppercase;
}

.comments-item-name , .comments-item-time ,
.comments-item-reply , .comments-item-arrow {
    display: inline-block;
    margin-bottom: 5px;
}

.comments-item-name {
    margin-left: 10px;
}

.comments-item:active .comments-item-name {
    color: #6195ff;
}

.comments-item-time {
    color: #999;
    font-size: 0.75rem;
    margin-left: 10px;
}

.comments-item-reply , .comments-item-arrow {
    margin-left: 26.5vw;
}

.comments-item-reply {
    color: #6195ff;
    font-size: 0.9rem;
}

.comments-item-arrow {
    position: relative;
    bottom: 27px;
    width: 0;
    height: 0;
    border-top: 9px solid #6195ff;
    border-right: 9px solid transparent;
    transform: rotate(-45deg);
    margin: 0 0 0 45.8vw;
}

#john-arrow {
    margin-left: 29vw;
}

.comments-item-arrow::after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-left: 3px solid #6195ff;
    border-radius: 20px 0 0 0;
    width: 15px;
    height: 15px;
    top: -1.5px;
    left: -3px;
    transform: rotate(125deg);
}

.comments-item-desc {
    margin-left: 10px;
    line-height: 1.5;
    color: #999;
}

/* Reply Form */

.reply-form #input-name {
    margin-right: 10px;
}

.reply-form input , .reply-form textarea {
    border: 0;
    background-color: #f5f5f5;
    padding-left: 8px;
    margin-bottom: 20px;
}

.reply-form input {
    width: 49%;
    display: inline-block;
    height: 30px;
}

.reply-form textarea {
    width: 100%;
    height: 50px;
    padding-top: 16px;
}

.reply-form-btn {
    width: 100px;
    height: 30px;
    border: 0;
    background-color: #6195ff;
    cursor: pointer;
    color: #fff;
    font-size: 1.05rem;
    margin-top: 15px;
}

/* Right Page */

/* Search Input */
.blog-bost-right {
    width: 25%;
    float: left;
}

.search {
    position: relative;
}

.search input {
    width: 85%;
    height: 35px;
    border: 0;
    background-color: #f5f5f5;
    padding-left: 8px;
}

.search img {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 55px;
    top: 7px;
    cursor: pointer;
}

/* Category Section */ 

.category-item-text {
    font-weight: 400;
    display: inline-block;
    margin: 8px 0;
}

.category-item-num , .category-item-num2 ,
.category-item-num3 , .category-item-num4 ,
.category-item-num5 {
    color: #6195ff;
    font-weight: 400;
    margin: 8px 0;
    display: inline-block;
}

.category-item-num {
    margin-left: 12.2vw;
}

.category-item-num2 {
    margin-left: 11.6vw;
}

.category-item-num3 {
    margin-left: 8.3vw;
}

.category-item-num4 {
    margin-left: 12.7vw;
}

.category-item-num5 {
    margin-left: 11.4vw;
}

/* Posts Section */

.posts-item {
    position: relative;
    padding: 10px 10px 10px 50px;
    margin-bottom: 20px;
}

.posts-item-img {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
}

.posts-item-img img {
    width: 100%;
}

.posts-item-text {
    margin-left: 70px;
}

.posts-item-time {
    display: block;
    margin-top: 10px;
    color: #6195ff;
    text-transform: capitalize;
    font-size: 0.92rem;
}

/* Tags Section */

.tags-item li {
    display: inline-block;
}

.tags-item li a {
    background-color: #f5f5f5;
    color: #222;
    display: block;
    height: 30px;
    text-align: center;
    padding: 5px 20px 0;
    margin: 2px 0;
}

/* 3.9 Footer section */

.footer {
    background-color: #1c1d21;
    text-align: center;
    padding: 60px 0;
    position: relative;
    top: 1800px;
    height: 320px;
}

.footer img {
    margin-bottom: 20px;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
}

.footer-icon {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translate(-50%);
}

.footer-icon li {
    display: inline-block;
}

.footer-icon li a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #6195ff;
    position: relative;
    margin: 0 10px 30px 0 ;
}

.footer-icon li a img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.footer-desc {
    color: #555;
    text-transform: uppercase;
    font-size: 0.9em;
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translate(-50%);
}

.footer-desc a {
    color: rgb(116, 192, 252);
}

/* Comblated Project */